*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

button {
  font: inherit;
  border: none;
  cursor: pointer;
}

input,
label {
  font: inherit;
}

:root {
  --_hue: 256;
  --_size: 1.8rem;
  --_radius: 0.2em;
  --_tspeed_fast: 180ms;
  --_tspeed_slow: 300ms;
  --_ttype_squish: cubic-bezier(0.86, -0.1, 0.27, 1.15);

  --bg--light: var(--_hue) 30% 94%;
  --accent--light: var(--_hue) 55% 50%;
}

:root {
  --bg: var(--bg--light);
  --accent: var(--accent--light);
}

@media screen and (max-width: 768px) {
  :root {
    --_size: 1.6rem;
  }
}

body {
  min-height: 100vh;
  justify-items: center;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  background-color: #48b1ee2e;
  color: hsl(var(--txt));
}

::selection {
  background: #5f39c6;
  color: #ddf0fb;
}

.container {
  display: grid;
  gap: clamp(2rem, 3.5vmax, 8rem);
}

header {
  background: #48b1ee;
  width: 100%;
  height: 170px;
  display: flex;
  position: relative;
  align-items: center;
  justify-content: center;
}

#title {
  text-align: left;
  font-family: Comic Sans MS;
  font-weight: bold;
  font-size: 50px;
  color: #dcf0fa;
  text-shadow: -1px 0 #5944c1, 0 1px #414d68, 1px 0 #414d68, 0 -1px #414d68,
    -2px 2px 0 #414d68, 2px 2px 0 #414d68, 1px 1px #414d68, 2px 2px #5944c1,
    3px 3px #5944c1, 4px 4px #414d68, 5px 5px #414d68;
}

.btn {
  display: flex;
  place-items: center;
  gap: 0.5em;
  background-color: #5f39c6;
  color: white;
  text-decoration: none;
  padding: 0.6em;
  border-radius: var(--_radius);
  box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px,
    rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
}

#delete {
  background: #e53916;
  margin-left: 9px;
}
#delete,
#edit {
  padding: 12px;
}

#delete:where(:active, :hover) {
  background: #d03617;
}

.btn :where(svg, img, span) {
  pointer-events: none;
}

.icon {
  width: 1.8rem;
  height: 1.8rem;
}

.btn:where(:active, :hover) {
  background-color: #340f9b;
}

.btn:focus {
  outline: none;
}

.taskForm {
  display: flex;
  gap: 1em;
  font-size: 1.8rem;
  text-align: left;
  top: 140px;
  position: absolute;
  height: 54px;
  bottom: -27px;
  width: 70%;
  left: 15%;
  right: 15%;
}

.wrapper {
  flex: 1 1 100%;
  position: relative;
  display: grid;
  gap: 0.2em;
}

.label {
  text-transform: uppercase;
  font-size: 0.7em;
  pointer-events: none;
  letter-spacing: 0.05em;
  margin-inline: 0.45em;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  padding: 0.1em 0.35em;
  color: black;
}

.input {
  border: none;
  border-radius: var(--_radius);
  padding: 0.35em 0.55em;
  width: 100%;
  background-color: white;
}

.input:focus {
  outline: none;
  box-shadow: 0 0 0 0.2em hsl(var(--bg)), 0 0 0 0.4em hsl(var(--accent) / 0.8);
}

.input:focus ~ .label,
.input:not(:placeholder-shown) ~ .label {
  transform: translate3d(0, -3.45em, 0);
  background: #48b1ee;
  color: white;
}

.input::placeholder {
  opacity: 0;
}

.taskList {
  display: grid;
  list-style-type: none;
  gap: 1.5em;
  margin-top: 90px;
  justify-self: center;
  min-width: 40%;
}

.task {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 0.6em;
  font-size: 13px;
  border: 0.4em solid white;
  padding: 1.1rem;
  border-radius: calc(var(--_radius) * 6);
  background-color: #5944c10a;
}
.taskGroup {
  display: flex;
  align-items: center;
  --taskgroup-gap: 0.5em;
  gap: var(--taskgroup-gap);
}

.taskGroup label {
  font-size: 20px;
}

.checkbox {
  width: 1.5rem;
  height: 1.5rem;
  flex-shrink: 0;
  background-color: white;
  border-radius: 0.3em;
  appearance: none;
  border: 2px solid #5944c1;
}

.checkbox:is(:focus-visible, :hover) {
  box-shadow: 0 0 0 hsl(var(--bg)), 0 0 0 0.05em hsl(var(--accent)),
    0 0 0 0.225em hsl(var(--accent) / 0.3);
}

.checkbox:checked {
  background-color: hsl(var(--accent));
}

.mark {
  position: absolute;
  width: 1.5em;
  height: 1.5em;
  display: grid;
  place-items: center;
  color: white;
  transform: translate3d(calc(-80% - var(--taskgroup-gap)), -5%, 0);
  transition: background-color 80ms ease-in-out;
}

.mark svg {
  width: 1.2rem;
  height: 1.2rem;
}

.checkbox:checked + label {
  text-decoration: line-through;
}
