*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

button {
  font: inherit;
  border: none;
  cursor: pointer;
}

input,
label,
textarea {
  font: inherit;
}

:root {
  --_hue: 256;
  --_size: 1.8rem;
  --_radius: 0.2em;
  --_tspeed_fast: 180ms;
  --_tspeed_slow: 300ms;
  --_ttype_squish: cubic-bezier(0.86, -0.1, 0.27, 1.15);

  --bg--light: var(--_hue) 30% 94%;
  --accent--light: var(--_hue) 55% 50%;
}

:root {
  --bg: var(--bg--light);
  --accent: var(--accent--light);
}

@media screen and (max-width: 768px) {
  :root {
    --_size: 1.6rem;
  }
}

body {
  min-height: 100vh;
  justify-items: center;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  background-color: #48b1ee2e;
  color: hsl(var(--txt));
}

::selection {
  background: #5f39c6;
  color: #ddf0fb;
}

.container {
  display: grid;
  gap: clamp(2rem, 3.5vmax, 8rem);
}

header {
  background: #48b1ee;
  width: 100%;
  height: 130px;
  display: flex;
  position: relative;

  justify-content: center;
}

#title {
  text-align: left;
  font-family: Comic Sans MS;
  font-weight: bold;
  font-size: 50px;
  color: #dcf0fa;
  text-shadow: -1px 0 #5944c1, 0 1px #414d68, 1px 0 #414d68, 0 -1px #414d68,
    -2px 2px 0 #414d68, 2px 2px 0 #414d68, 1px 1px #414d68, 2px 2px #5944c1,
    3px 3px #5944c1, 4px 4px #414d68, 5px 5px #414d68;
}

.btn {
  margin: auto;
  gap: 0.5em;
  background-color: #5f39c6;
  color: white;
  text-decoration: none;
  padding: 0.41em 2em;
  border-radius: var(--_radius);
  box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px,
    rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
}

#delete {
  background: #e53916;
  margin-left: 9px;
}
#delete,
#edit {
  padding: 12px;
}

#delete:where(:active, :hover) {
  background: #d03617;
}

.btn :where(svg, img, span) {
  pointer-events: none;
}

.icon {
  width: 1.8rem;
  height: 1.8rem;
}

.btn:where(:active, :hover) {
  background-color: #340f9b;
}

.btn:focus {
  outline: none;
}

.taskForm {
  display: grid;
  gap: 1.4em;
  font-size: 1.8rem;
  text-align: left;
  width: 70%;
  margin: auto;
  margin-top: -32px;
}

.wrapper {
  flex: 1 1 100%;
  position: relative;
  display: grid;
  gap: 0.2em;
}

.label {
  text-transform: uppercase;
  font-size: 0.7em;
  pointer-events: none;
  letter-spacing: 0.05em;
  margin-inline: 0.45em;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  padding: 0.1em 0.35em;
  color: black;
}

.input,
.textarea {
  border: none;
  border-radius: var(--_radius);
  padding: 0.25em 0.45em;
  width: 100%;

  background-color: white;
}

.input:focus,
.textarea:focus {
  outline: none;
  box-shadow: 0 0 0 0.2em hsl(var(--bg)), 0 0 0 0.4em hsl(var(--accent) / 0.8);
}

.input:focus ~ .label,
.input:not(:placeholder-shown) ~ .label {
  transform: translate3d(0, -3.45em, 0);
  background: transparent;
}

.textarea {
  margin-top: 20px;
}

.textarea:focus ~ .label,
.textarea:not(:placeholder-shown) ~ .label {
  transform: translate3d(0, -3.95em, 0);
  background: transparent;
  color: black;
}

.input::placeholder,
.textarea::placeholder {
  opacity: 0;
}

.taskList {
  display: grid;
  list-style-type: none;
  gap: 1.5em;
  justify-self: center;
  min-width: 40%;
  max-width: 90%;
}

.task {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 0.6em;
  font-size: 13px;
  border: 0.4em solid white;
  padding: 1.1rem;
  border-radius: calc(var(--_radius) * 6);
  background-color: #5944c10a;
  
}
.taskGroup {
  display: flex;
  align-items: center;
  --taskgroup-gap: 0.5em;
  gap: var(--taskgroup-gap);
}

.taskGroup label {
  font-size: 20px;
}

.checkbox {
  width: 1.7rem;
  height: 1.7rem;
  background-color: white;
  border-radius: 0.3em;
  appearance: none;
  padding: 7px;
  border: 2px solid #5944c1;
  margin-right: 10px;
}

.checkbox:is(:focus-visible, :hover) {
  box-shadow: 0 0 0 hsl(var(--bg)), 0 0 0 0.05em hsl(var(--accent)),
    0 0 0 0.225em hsl(var(--accent) / 0.3);
}

.checkbox:checked {
  background-color: hsl(var(--accent));
}

.title{
  font-size:22px;
  font-weight: 400;
  text-transform: lowercase;
  
}
.title:first-letter {
  text-transform: uppercase;
}
.task:last-child{
  margin-bottom: 65px;
}
.description{

  width:auto;
  
}
.mark {
  position: absolute;
  width: 1.5em;
  height: 1.5em;
  margin-top: 14px;
  display: grid;
  place-items: center;
  color: white;
  transform: translate3d(calc(-115% - var(--taskgroup-gap)), -5%, 0);
  transition: background-color 80ms ease-in-out;
}

.mark svg {
  width: 1.2rem;
  height: 1.2rem;
}

.checkbox:checked + label {
  text-decoration: line-through;
}

[role="dialog"] {
  position: fixed;
  z-index: 100;
  inset: 0;
  padding-inline: 2vmax;
  display: grid;
  place-items: center;
  background-color: hsl(var(--bg) / 0.7);
}

[role="dialog"] .taskForm {
  margin-top: 120px;
  padding: 2em 1.3em 4.3em;
  background-color: hsl(var(--bg));
  border-radius: var(--_radius);
  border: 0.1em solid #5944c1;
  box-shadow: 0 1em 3em #5944c14e, 0 1em 3em hsl(var(--accent) / 0.2);
}

[role="dialog"] .textarea:not(:placeholder-shown) ~ .label {
  transform: translate3d(0, -2.45em, 0);
  background: transparent;
  color: black;
}

[role="dialog"] .label {
  top: 29px;
}

[role="dialog"] .input:focus ~ .label {
  transform: translate3d(0, -3.55em, 0);
  background: #eeebf4;
  color: black;
}

.counter {
  position: relative;
}
.right {
  float: right;
  display: flex;
}

.right p,
.left p {
  color: #5f39c6;
  font-weight: 500;
  font-size: 14px;
}

.right span,
.left span {
  color: #5f39c6;
  font-weight: 500;
  font-size: 14px;
  margin-left: 6px;
  background: #48b1ee;
  color: white;
  border-radius: 8px;
  padding: 2px 8px 2px 8px;
}

.left {
  float: left;
  display: flex;
}

.msj {
  margin: auto;
  width: 70%;
  border: 5px solid white;
  border-radius: 15px;
  padding: 40px;
  text-align: center;
  background-color: #5944c10a;
}

.msj p {
  font-size: 19px;
  font-weight: 400;
}

@media screen and (max-width: 768px) {
  .taskList,
  .taskForm {
    width: 92%;
  }



  .taskForm {
    left: 4%;
    right: 4%;
  }

  [role="dialog"] .btn {
    padding: 25px;
  }

  [role="dialog"] .taskForm {
    padding: 2em 0.5em 4.3em;
  }
}
